<section class="adv-section container">
    <div class="adv-container">
        <h2 class="adv-title visually-hidden">Advantages</h2>
        <div class="adv-list-container">

            <ol class="adv-list">

                <li class="adv-list-item">
                    <span class="adv-list-item-number">01
                    </span>
                    <span class="adv-list-item-content first-list-item">Swimming and water sports: try your hand
                        at water
                        skiing
                    </span>
                </li>

                <li class="adv-list-item">
                    <span class="adv-list-item-number">02
                    </span>
                    <span class="adv-list-item-content">Fishing: try to catch your own dinner
                    </span>
                </li>

                <li class="adv-list-item">
                    <span class="adv-list-item-number">03
                    </span>
                    <span class="adv-list-item-content">Sightseeing tours: take a shore or island tour, enjoy
                        the
                        views and sunsets from the water
                    </span>
                </li>

                <li class="adv-list-item">
                    <span class="adv-list-item-number">04</span>
                    <span class="adv-list-item-content">Rest and relaxation: read a book or listen to music
                        while
                        enjoying the outdoor atmosphere.
                    </span>
                </li>

            </ol>
        </div>

        <div class="adv-image-container">
            <picture>
                <source srcset="./img/advantages/adv-image-desktop.jpg 1x,
                                            ./img/advantages/adv-image-desktop@2x.jpg 2x" media="(min-width: 1280px)">

                <source srcset="./img/advantages/adv-image-tablet.jpg 1x,
                                            ./img/advantages/adv-image-tablet@2x.jpg 2x" media="(min-width: 768px)">

                <source srcset="./img/advantages/adv-image-mobile.jpg 1x,
                                            ./img/advantages/adv-image-mobile@2x.jpg 2x" media="(max-width: 767px)">

                <img class="adv-image-backup" src="./img/advantages/adv-image-mobile.jpg" alt="Advantages image">
            </picture>
        </div>
    </div>
</section>