<!-- Footer -->
<footer class="page-footer">
  <div class="footer-container container">
    <div class="footer-first-wrapper">
      <div class="footer-second-wrapper">
        <div class="footer-third-wrapper">
          <a class="second-logo" href="./index.html">yachtjet</a>
          <nav class="footer-menu">
            <ul class="footer-menu-list">
              <li class="footer-menu-list-item">
                <a href="#about-us" class="footer-menu-list-link"> About </a>
              </li>
              <li class="footer-menu-list-item">
                <a href="#yacht-rental" class="footer-menu-list-link">
                  Yachts
                </a>
              </li>
              <li class="footer-menu-list-item">
                <a href="#reviwes" class="footer-menu-list-link"> Reviews </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="footer-social-container">
          <ul class="footer-social-list">
            <li class="social-list-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-social-list-link"
                target="_blank"
              >
                <svg
                  class="social-list-icon"
                  width="24"
                  height="24"
                  aria-label="instagram icon"
                >
                  <use href="./img/footer_img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-social-list-link"
                target="_blank"
              >
                <svg
                  class="social-list-icon"
                  width="24"
                  height="24"
                  aria-label="youtube icon"
                >
                  <use href="./img/footer_img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a
                href="https://www.facebook.com/goITclub/ "
                class="footer-social-list-link"
                target="_blank"
              >
                <svg
                  class="social-list-icon"
                  width="24"
                  height="24"
                  aria-label="facebook icon"
                >
                  <use href="./img/footer_img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="footer-first-paragraph">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
      <p class="footer-second-paragraph">
        2023. Yacht Adventures
        <span class="privacy">Privacy Police</span>
      </p>
    </div>
  </div>
</footer>
