<header class="header">
  <div class="container header-container">
    <ul class="header-div">
      <li>
        <nav class="header-navigation">
          <a class="header-logo" href="index.html">yachtjet</a>

          <ul class="header-nav-list">
            <li><a class="header-nav-menu" href="#about-us">ABOUT</a></li>
            <li>
              <a class="header-nav-menu" href="#our-yachts-section">YACHTS</a>
            </li>
            <li><a class="header-nav-menu" href="#reviwes">REVIEWS</a></li>
          </ul>
        </nav>
      </li>

      <li class="header-social-media">
        <ul class="header-social">
          <li>
            <a href="https://www.instagram.com/goitclub/" target="_blank">
              <svg class="header-social-icon" width="24" height="24">
                <use href="./img/icon.svg#icon-ig"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/GoIT" target="_blank">
              <svg class="header-social-icon" width="24" height="24">
                <use href="./img/icon.svg#icon-yb"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/goITclub/" target="_blank">
              <svg class="header-social-icon" width="24" height="24">
                <use href="./img/icon.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="header-mobile-link">
        <button class="header-mobile-btn" type="button" data-menu-open>
          <svg class="header-icon-btn" width="28" height="28">
            <use href="./img/icon.svg#icon-side-bar"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
