<header class="header" id="header-id">
   <div class="container header-div">

      <a class="header-logo" href="index.html">yachtjet</a>

      <ul class="header-nav-list">
        <li class="header-nav-menu"><a class="" href="index.html">ABOUT</a></li>
        <li class="header-nav-menu"><a class="" href="index.html">YACHTS</a></li>
        <li class="header-nav-menu"><a class="" href="index.html">REWIEWS</a></li>
      </ul>

      <button class="header-mobile-btn" type="button">
        <svg class="header-icon-btn" width="28" height="28">
            <use href="./img/icon.svg#icon-side-bar"></use>
        </svg>
      </button>


      <ul class="header-social">
        <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank"></a>
        <svg class="header-social-icon" width="24" height="24">
            <use href="./img/icon.svg#icon-ig"></use>
        </svg>
        </li>
        <li>
            <a href="https://www.youtube.com/c/GoIT" target="_blank"></a>
            <svg class="header-social-icon" width="24" height="24">
                <use href="./img/icon.svg#icon-yb"></use>
            </svg>
        </li>
        <li>
            <a href="https://www.facebook.com/goITclub/" target="_blank"></a>
            <svg class="header-social-icon" width="24" height="24">
                <use href="./img/icon.svg#icon-fb"></use>
            </svg>
        </li>
      </ul>

   </div> 
</header>