<!-- <div class="hero-background"> -->
    <section class="section hero-section">
        <div class="container">
          <h1 class="hero-title">Explore the High Seas with Our Luxury Yacht Rentals</h1>
          <p class="hero-info">Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
          <div class="hero-space-link"><a class="hero-link" href="#yacht-rental">Yacht rental</a></div>
        </div>
    </section>
<!-- </div> -->