<div class="mobile-menu" data-menu>
  <div class="menu-container">
    <a href="./index.html" class="menu-logo">yachtjet</a>
    <button class="close-menu-btn" type="button" data-menu-close>
      <svg class="close-menu-icon" width="16" height="16">
        <use href="./img/icon.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <nav class="menu-navigation">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-list-item menu-first-item">
        <a href="#about-us" class="mobile-menu-item-link">About</a>
      </li>
      <li class="mobile-menu-list-item">
        <a href="#our-yachts-section" class="mobile-menu-item-link">Yachts</a>
      </li>
      <li class="mobile-menu-list-item">
        <a href="#reviwes" class="mobile-menu-item-link">Reviews</a>
      </li>
    </ul>
  </nav>
  <ul class="mobile-menu-icons-list">
    <li class="mobile-menu-icon-box">
      <a
        href=" https://www.instagram.com/goitclub/"
        class="menu-icon-list-link"
      >
        <svg class="socials-icons" width="20" height="20">
          <use href="./img/icon.svg#icon-ig"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-icon-box">
      <a href="https://www.youtube.com/c/GoIT" class="menu-icon-list-link">
        <svg class="socials-icons" width="20" height="20">
          <use href="./img/icon.svg#icon-yb"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-icon-box">
      <a href="https://www.facebook.com/goITclub/" class="menu-icon-list-link">
        <svg class="socials-icons" width="20" height="20">
          <use href="./img/icon.svg#icon-fb"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
