<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>yachtjet</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
    integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../css/our-yachts.css"/>
</head>
<body>
  <section class="our-yachts-section section" id="our-yachts-section">
    <div class="our-yachts-section-container container">
      <h2 class="our-yachts-section-title">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <ul class="our-yachts-section-list">
        <li class="our-yachts-section-list-item arrow-yacht">
          <div class="yacht-img-thumb">
            <picture>
              <source srcset="./img/our-yachts/desktop_1440/arrow@1x.jpg 1x,
              /src/img/our-yachts/desktop_1440/arrow@2x.jpg 2x" media="(min-width:1440px)">
              <source srcset="../img/our-yachts/desktop-1280/arrow@1x.jpg 1x,
              ../img/our-yachts/desktop-1280/arrow@2x.jpg 2x" media="(min-width:1280px)">
              <source srcset="../img/our-yachts/tablet/arrow@1x.jpg 1x,
              ../img/our-yachts/tablet/arrow@2x.jpg 2x" media="(min-width:768px)">
              <source srcset="../img/our-yachts/mob/arrow@1x.jpg 1x,
              ../img/our-yachts/mob/arrow@2x.jpg 2x" media="(max-width:767px)">
              <img src="../img/our-yachts/desktop-1280/arrow@1x.jpg" alt="arrow-yacht">
            </picture>
  
          </div>
          <div class="yacht-container">
            <h3 class="yacht-name">
              Arrow<span class="yacht-type">LUXURY YACHTS</span>
            </h3>
            <div class="yacht-parameters-container">
              <ul class="yacht-parameters-list">
                <li class="yacht-parameters-list-item">LENGTH</li>
                <li class="yacht-parameters-list-item">BUILDER</li>
                <li class="yacht-parameters-list-item">BUILT</li>
                <li class="yacht-parameters-list-item">GUESTS</li>
                <li class="yacht-parameters-list-item">PRICE</li>
              </ul>
              <ul class="yacht-parameters-value-list">
                <li class="yacht-parameters-value-list-item">48m(155ft)</li>
                <li class="yacht-parameters-value-list-item">Admiral</li>
                <li class="yacht-parameters-value-list-item">2021</li>
                <li class="yacht-parameters-value-list-item">11 in 5 cabins</li>
                <li class="yacht-parameters-value-list-item">€33,500,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="our-yachts-section-list-item benetti-yacht">
          <picture>
            <source srcset="../img/our-yachts/desktop_1440/belle-anna@1x.jpg 1x,
            ../img/our-yachts/desktop_1440/belle-anna@2x.jpg 2x" media="(min-width:1440px)">
            <source srcset="
            ../img/our-yachts/desktop-1280/belle-anna@2x.jpg 2x," media="(min-width:1280px)">
            <source src="../img/our-yachts/tablet/benetti@1x.jpg 1x,
            ../img/our-yachts/tablet/benetti@2x.jpg 2x" media="(min-width:768px)">
            <source srcset="../img/our-yachts/mob/arrow@1x.jpg 1x,
            ../img/our-yachts/mob/arrow@2x.jpg 2x" media="(max-width:767px)">
            <img src="" alt="benetti-yacht"/>

          </picture>
          

          <div class="yacht-container">
            <div class="yacht-name-container">
              <h3 class="yacht-name">BENETTI OASIS 40M BO122</h3>
              <p class="yacht-type">LUXURY YACHTS</p>
            </div>
            <ul class="yacht-parameters-list">
              <li class="yacht-parameters-list-item">LENGTH</li>
              <li class="yacht-parameters-list-item">BUILDER</li>
              <li class="yacht-parameters-list-item">BUILT</li>
              <li class="yacht-parameters-list-item">GUESTS</li>
              <li class="yacht-parameters-list-item">PRICE</li>
            </ul>
            <ul class="yacht-parameters-value-list">
              <li class="yacht-parameters-value-list-item">41m (133ft)</li>
              <li class="yacht-parameters-value-list-item">Benetti</li>
              <li class="yacht-parameters-value-list-item">2025</li>
              <li class="yacht-parameters-value-list-item">10 in 5 cabins</li>
              <li class="yacht-parameters-value-list-item">€23,210,000</li>
            </ul>
          </div>
        </li>
        <li class="our-yachts-section-list-item belle-anna-yacht">
          <img src="" alt="belle-anna-yacht" width="302" height="240" />
          <div class="yacht-container">
            <picture>

            </picture>
            <h3 class="yacht-name">BELLE ANNA</h3>
            <p class="yacht-type">LUXURY YACHTS</p>
            <ul class="yacht-parameters-list">
              <li class="yacht-parameters-list-item">LENGTH</li>
              <li class="yacht-parameters-list-item">BUILDER</li>
              <li class="yacht-parameters-list-item">BUILT</li>
              <li class="yacht-parameters-list-item">GUESTS</li>
              <li class="yacht-parameters-list-item">PRICE</li>
            </ul>
            <ul class="yacht-parameters-value-list">
              <li class="yacht-parameters-value-list-item">50m(155ft)</li>
              <li class="yacht-parameters-value-list-item">ISA</li>
              <li class="yacht-parameters-value-list-item">2012</li>
              <li class="yacht-parameters-value-list-item">12 in 6 cabins</li>
              <li class="yacht-parameters-value-list-item">€21,000,000</li>
            </ul>
          </div>
        </li>
      </ul>
      <a href="#rent-a-yacht-section" class="our-yacht-rent-link">Yacht rental</a>
    </div>
  </section>

</body>
</html>


