<!--Reviews-->

<section class="section" id="reviwes">
  <div class="container rev-main">
    <div class="rev-title-text">
      <h2 class="rev-title">
        YachtJet take pride in providing the best possible service and
        experience to our customers
      </h2>
      <p class="rev-title-desc">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <div>
      <div class="rev-container-list">
        <ul class="rev-list">
          <li class="rev-list-left">
            <img
              class="rev-img"
              src="./img/reviews/jhon.jpg"
              alt="John-image"
            />
            <div class="rav-list-text">
              <h3 class="rev-list-titels">John Wax</h3>
              <p class="rev-list-desc">
                I rented the Lagoon 620 with my family for a week-long vacation
                and it was the best decision ever. The yacht was spacious,
                comfortable, and luxurious, and the crew took care of
                everything.
              </p>
            </div>
          </li>
          <li class="rev-list-center">
            <img
              class="rev-img"
              src="./img/reviews/viktoria.jpg"
              alt="Victoria-image"
            />
            <div class="rav-list-text">
              <h3 class="rev-list-titels">Victoria Romashenko</h3>
              <p class="rev-list-desc">
                The Sunseeker Manhattan 66 was the perfect choice for our
                romantic getaway. The yacht was beautifully designed, with all
                the amenities we needed, and the crew was attentive and
                friendly.
              </p>
            </div>
          </li>
          <li class="rev-list-right">
            <img
              class="rev-img"
              src="./img/reviews/ihor.jpg"
              alt="Ihor-image"
            />
            <div class="rav-list-text">
              <h3 class="rev-list-titels">Ihor Trachuk</h3>
              <p class="rev-list-desc">
                The Azimut 80 was the most luxurious yacht I've ever been on.
                The cabins were spacious and elegant, and the outdoor areas were
                perfect for relaxing and entertaining. Worth every penny!
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
