<!--Rewiews-->

<section class="rew-main">
  <div class="container rew-titel-text">
    <h2 class="rew-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="rew-title-desc">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
  </div>
  <div class="container">
    <ul class="rew-list">
      <li class="rew-list-left">
        <div>
          <img src="" alt="" />
          <h3>John Wax</h3>
          <p>
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>
      <li class="rew-list-center">
        <div>
          <img src="" alt="" />
          <h3>Victoria Romashenko</h3>
          <p>
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
      </li>
      <li class="rew-list-right">
        <div>
          <img src="" alt="" />
          <h3>Ihor Trachuk</h3>
          <p>
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
