body {
  background-color: #0e1823;
  font-family: Inter, sans-serif;
  color: #1b414b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-bottom: 40px;
  padding-top: 40px;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.general-container {
  width: 375px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../img/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .general-container {
    border-image: url(../img/hero/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .general-container {
    width: 768px;
    padding-top: 32px;
    background-image: url(../img/hero/hero-tablet.jpg);
    background-repeat: no-repeat;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .general-container {
      border-image: url(../img/hero/hero-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .general-container {
    width: 1280px;
    background-image: url(../img/hero/hero-desktop.jpg);
    background-repeat: no-repeat;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .general-container {
      border-image: url(../img/hero/hero-desktop@2x.jpg);
    }
  }
}
