.header {
  margin-top: 20px;
}

.header-logo {
  color: #1B414B;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.42px;
}


.header-navigation,
.header-social-media {
  display: none;
}



.header-mobile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.header-icon-btn {
  stroke: #1b414b;
}

.header-social-icon {
  fill: #1b414b;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-icon:hover {
  fill: #062730;
}


.header-div {
  padding-left: 28px;
  padding-right: 28px;
  background-color: #FBFBFB;
  border-radius: 8px;
  border: 1px solid #FBFBFB;
  max-width: 335px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}



/*MOBILE RESPONSIVE*/

@media screen and (min-width: 375px) {

.header-div {
  width: 100%;
  max-width: 335px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation,
.header-social-media {
  display: none;
}

}


/*TABLET*/

@media screen and (min-width: 768px) { 


.header-div {
  width: 100%;
  max-width: 704px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 28px;
}

.header-logo {
  color: #1B414B;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.6px;
}

.header-nav-list {
  display: flex;
  gap: 4px;
}

.header-social {
  display: flex;
  gap: 8px;
}

.header-nav-menu {
  border-radius: 8px;
  background:  rgba(27, 65, 75,0.50);
  width: 91px;
  height: 40px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-menu:hover {
  background-color: #1B414B;
}


.header-mobile-link {
  display: none;
}

.header-navigation,
.header-social-media {
  display: flex;
}
}



/*DECSTOP_1280*/

@media screen and (min-width: 1280px) {


.header-div {
  width: 100%;
  max-width: 1080px;
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: #1B414B;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.6px;
}

.header-nav-list {
  display: flex;
  gap: 4px;
}

.header-social {
  display: flex;
  gap: 8px;
}

.header-nav-menu {
  border-radius: 8px;
  background: rgba(27, 65, 75, 0.50);
  width: 91px;
  height: 40px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-nav-menu:hover {
  background-color: #1B414B;
}

.header-mobile-link {
display: none;
}

.header-navigation,
.header-social-media {
  display: flex;
}

.container {
  max-width: 1280px;
  padding-left: 100px;
  padding-right: 100px;
}
}



/*DECSTOP_1440*/

@media screen and (min-width: 1440px){



.header-div {
  width: 100%;
  max-width: 1240px;
  height: 48px;
  }

.header-logo {
  color: #1B414B;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.6px;
}

.header-nav-list {
  display: flex;
  gap: 4px;
}

.header-social {
  display: flex;
  gap: 8px;
}

.header-nav-menu {
  border-radius: 8px;
  background: rgba(27, 65, 75, 0.50);
  width: 91px;
  height: 40px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-menu:hover {
  background-color: #1B414B;
}

.header-mobile-link {
  display: none;
}
.header-navigation,
.header-social-media {
  display: flex;
}

}