.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 16px 20px 40px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e1823;
  z-index: 9999;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.menu-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  background-color: #fbfbfb;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
.menu-logo {
  display: flex;
  color: #1b414b;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
}
.close-menu-btn {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  fill: #055545;
}
.menu-navigation {
  margin-bottom: auto;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.mobile-menu-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(27, 65, 75, 0.5);
  color: #fbfbfb;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
}
.menu-first-item {
  background-color: #1b414b;
}
.mobile-menu-icons-list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  gap: 8px;
}
.menu-icon-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24;
}
.socials-icons {
  fill: #fbfbfb;
}
