.rent-a-yacht-container {
  margin-bottom: 80px;
}

.rent-a-yacht-title {
  color: #fbfbfb;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;

  margin-bottom: 40px;
}

.rent-a-yacht-form-container {
  margin-bottom: 18px;
}

.rent-a-yacht-form-textarea {
  margin-bottom: 40px;
}

.rent-a-yacht-form-input {
  width: 100%;
  height: 42px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;
  padding: 18px 14px;

  color: rgba(251, 251, 251, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.rent-a-yacht-form-textarea-comment {
  color: rgba(251, 251, 251, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;

  width: 100%;
  height: 110px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;
  resize: none;
  padding: 14px 18px 14px 18px;
}

.rent-a-yacht-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 46px;
  border-radius: 16px;
  background: #1b414b;
  border: none;

  /*text*/
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-a-yacht-img {
  border-radius: 24px;
}

.rent-a-yacht-picture {
  margin-right: auto;
  margin-left: auto;
}

.rent-a-yacht-btn:active {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  /*=====Tablet Version=====*/

  .rent-a-yacht-form {
    width: 473px;
  }

  .rent-a-yacht-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rent-a-yacht-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .rent-a-yacht-form-input {
    height: 56px;
    padding: 18px;

    font-size: 14px;
    line-height: 1.29;
  }

  .rent-a-yacht-form-textarea {
    margin-bottom: 50px;
  }

  .rent-a-yacht-form-textarea-comment {
    font-size: 14px;
    line-height: 1.29;
    height: 163px;
    padding: 18px;
  }

  .rent-a-yacht-btn {
    border-radius: 15px;
    width: 194px;
    height: 56px;

    /*text*/
    font-size: 18px;
    line-height: 1.24;
  }

  .rent-a-yacht-picture {
    width: 704px;
    height: 534px;
  }
}
/*=====/Tablet Version=====*/

@media screen and (min-width: 1280px) {
  /*=====Desktop Version=====*/

  .rent-a-yacht-section-container {
    flex-direction: row-reverse;
    gap: 50px;
  }

  .rent-a-yacht-picture {
    width: 658px;
  }

  .rent-a-yacht-container {
    margin-bottom: 0;
  }

  .rent-a-yacht-form {
    width: 472px;
  }

  .rent-a-yacht-picture {
    width: 658px;
    height: 534px;
    flex-shrink: 0;
  }

  .rent-a-yacht-form-input {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 54px;
  }

  .rent-a-yacht-form-input:hover {
    border: 1px solid rgba(251, 251, 251, 0.5);
    color: #fbfbfb;
  }

  .rent-a-yacht-form-textarea-comment {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 116px;
  }

  .rent-a-yacht-form-textarea-comment:hover {
    border: 1px solid rgba(251, 251, 251, 0.5);
    color: #fbfbfb;
  }

  .rent-a-yacht-btn:hover,
  .rent-a-yacht-btn:focus {
    background-color: #fbfbfb;
    color: #1b414b;
  }
  /*=====/Desktop Version=====*/
}
