.rew-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  margin-bottom: 80px;
}

.rew-title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.rew-title {
  color: #fbfbfb;
  text-align: center;
  font-size: 28px;
  line-height: 1em;
  letter-spacing: -0.02em;
  font-weight: 500;
}

.rew-title-desc {
  color: #fbfbfb;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  opacity: 0.4;
}

.rew-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
}

.rew-list-left {
  border-radius: 24px;
  background: #fbfbfb;
  padding: 32px 8px;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 24px;
}

.rew-list-center {
  display: none;
  padding: 32px 8px;
}

.rew-list-right {
  display: none;
  padding: 32px 8px;
}

.raw-list-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.rew-list-desc {
  color: rgba(4, 3, 6, 0.4);
  text-align: center;
  font-size: 16px;
  line-height: 1.4em;
}

.rew-img {
  width: 56px;
  height: 56px;
}
.rew-list-titels {
  color: #040306;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: -0.36px;
}

@media (min-width: 768px) {
  .rew-main {
    margin-bottom: 150px;
  }

  .rew-list-center {
    display: flex;
    border-radius: 24px;
    background: #fbfbfb;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 24px;
  }
  .rew-title {
    width: 704px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.96px;
  }
  .rew-title-desc {
    width: 571px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
  }
  .rew-list {
    gap: 32px;
  }
}

@media (min-width: 1280px) {
  .rew-main {
    margin-bottom: 150px;
  }

  .rew-list-right {
    display: flex;
    border-radius: 24px;
    background: #fbfbfb;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 24px;
    padding: 32px 28px;
  }
  .rew-list-center {
    padding: 32px 28px;
  }
  .rew-list-left {
    padding: 32px 28px;
  }
  .rew-title {
    width: 854px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.96px;
  }
  .rew-list {
    gap: 26px;
  }
}
